doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/loader.css')

  body(ng-app="miApp")
      <ui-view></ui-view>

  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js")
  script(src="/angularjs/app.js")
  script(src="/angularjs/ctrls/loginCtrl.js")
  script(src="/angularjs/ctrls/loginCtrl.js")
  script(src="/angularjs/ctrls/registerCtrl.js")
