div(ng-controller="listCtrl as lCtrl")
    h1 Listado de usuarios

    block content
        div(ng-if="lCtrl.loading").loader
        button(ng-hide="lCtrl.loading" ng-click="lCtrl.actualizarListaUsuarios()") Refrescar
        a(href="./login").registro Volver a la autenticación

        div(ng-hide="lCtrl.loading")
            p(ng-if="lCtrl.usersList.length == 0") No existen usuarios en el sistema.
                ul(ng-if="lCtrl.usersList.length > 0")
                    li(ng-repeat="user in lCtrl.usersList")
                        | {{ user.name }} ({{user.login}})
