div(ng-controller="loginCtrl as ctrl")
    .alert(ng-show="ctrl.invalidLogin").alert-danger(role='alert') El nombre de usuario o contraseña son incorrectos.
    form
        .form-group
            label(for='Username') Username
            input#Username.form-control(type='text', placeholder='Username', ng-model="ctrl.login")
        .form-group
            label(for='Password') Password
            input#Password.form-control(type='password', placeholder='Password', ng-model="ctrl.password")

        div(ng-if="ctrl.isLoading").loader
        button.btn.btn-default(ng-hide="ctrl.isLoading" ng-click="ctrl.autenticar()") Login
        a(ui-sref="register" ui-sref-active="active" style="margin-left: 10px;").registro Don't have an account! Sign Up Here


